<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>疯狂WDL - 游戏首页</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>疯狂WDL</h1>
        <div class="chapter-container">
            <a href="/level1" class="chapter">新手村</a>
            <a href="/get_requirement" class="chapter">无尽的需求</a>
            <a href="/crazy-debug" class="chapter">疯狂的 Debug</a>
        </div>
    </div>
</body>
</html>
